<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<a href="/company/all">Companies - View All</a>
<p></p>
<a href="/address/all">Addresses - View All</a>
<p></p>
<a href="/school/all">Schools - View All</a>
<p></p>
<a href="/skill/all">Skills - View All</a>

<%- include("./includes/footer.ejs"); %>

